* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #817F75;
}

#navigation {
	padding: 0.5rem;	
	margin-top: 10px;
	background-color: #B3B5BB;
	list-style-type: none;
}

nav li {
	padding: 0.5rem;
	display: inline;
	margin-left: 20px;
}

a:link {
	text-decoration: none;
	color: black;

}

header , #button , .title , .author {
	text-align: center;
}


header div {
	font-size: 50px;
	font-style: oblique;
	padding: 20px;
}

header p {
	padding: 10px;
	font-size: 20px;
}

#button a {
	background-color: #B3B5BB;
	border: none;
	border-radius: 150px;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.title , .author {
	padding-top: 10px;
	padding-bottom: 5px;
} 
.paragraphs {
	text-align: center;
	padding: 0.5em 20px 0.5em;
	background-color: #B3B5BB;
}

